---
layout: archive
title: "Academic Work"
permalink: /academic/
author_profile: true
---
<h2>Research interests</h2>
<p>I am a PhD student under the supervision of <a href="https://warwick.ac.uk/fac/sci/physics/staff/academic/animeshdatta/">Dr Animesh Datta</a>. I completed my undergraduate masters studies at Aberystwyth university. During my final year I undertook projects in "Entropic uncertainty relations and quantum cryptography" with <a href="https://www.aber.ac.uk/en/maths/staff-profiles/listing/profile/jug/" target="_blank" rel="noopener">Prof. John Gough</a> and "Hamiltonian purification and the quantum Zeno effect" with <a href="https://orcid.org/0000-0003-4063-1264" target="_blank" rel="noopener">Dr Daniel Burgarth</a> (who is currently my 2<sup>nd</sup> supervisor).</p>
<p>I am part of the <a href="https://warwick.ac.uk/fac/sci/dst/"> Centre for Doctoral Training in Diamond Science and Technology</a> where I completed my masters in diamond science and technology. As part of this masters I undertook two research projects. The first "Investigating the Viability of an NV Ensemble for AFC Quantum Memory" under the supervision of <a href="https://researchportal.bath.ac.uk/en/persons/josh-nunn" target="_blank" rel="noopener">Dr Josh Nunn</a> and the second on "Estimation on a spin chain: beating the classical limit" with Dr Daniel Burgarth.</p>
<p>As a PhD student my main interests are in the field of quantum enhanced multi-parameter estimation and quantum control theory. More specifically, what are the best states for estimating the three components of a magnetic field and how do we generate those states with NV<sup>-</sup> centers?</p>
<hr />
<h2>Current projects</h2>
<ol>
<li>The Holevo Cramer-Rao Bound (HCRB)
<ul>
<li>The HCRB gives us the tightest attainable bound for the variance of an estimator. It had previously been overlooked in the multi-parameter estimation literature because of its perceived difficulty in calculation. This is true analytically, however we have shown that the bound is an <a href="http://mathworld.wolfram.com/SemidefiniteProgramming.html" target="_blank" rel="noopener">SDP</a> which brings the numerical barriers down. I use this bound to gain new insights which were previously missed by the quantum Fisher information.</li>
</ul>
</li>
<li>Optimisation of multi-dimensional field estimation
<ul>
<li>The optimisation of input states for multi-dimensional field sensing is a numerically very challenging problem. I am developing heuristic based algorithms as well as analytics (when possible) in order to define a classes of states which are optimal for magnetic field estimation in the presence of noise.</li>
</ul>
</li>
<li>Estimation on a spin chain
<ul>
<li>When we have a spin chain with control on only the first cite I am interested in estimating an external magnetic field by manipulating the state of the first cite only. The question of how well we can estimate a magnetic field becomes particularly interesting when the Lie algebra induced by our chain and control is non-universal.</li>
</ul>
</li>
</ol>
<hr />
<h2>Publications</h2>
<ol>
<li><a data-href="/citations?view_op=view_citation&amp;hl=en&amp;user=6fBlGyYAAAAJ&amp;citation_for_view=6fBlGyYAAAAJ:u5HHmVD_uO8C" class="gsc_a_at" href="https://arxiv.org/abs/1906.05724" target="_blank" rel="noopener">Evaluating the Holevo Cramer-Rao bound for multi-parameter quantum metrology</a>
<div class="gs_gray">F Albarelli, JF Friel, A Datta: arXiv preprint:1906.05724</div>
</li>
</ol>
<hr />
<h2>Teaching</h2>
<ol>
<li>2<sup>nd</sup> year electronics demonstrator (regulated AC to DC converter), 2017&ndash;</li>
<li>1<sup>st</sup> year electronics demonstrator (various, op amps, logic gates, transistors etc), 2017&ndash;</li>
<li>1<sup>st </sup>year mathematics assignment help desk (Aberystwyth) 2015&ndash;16</li>
</ol>
<hr />
<h2>Education</h2>
<ul>
<li>MSc- Diamond science and technology, merit (physics, as part of <a href="https://warwick.ac.uk/fac/sci/dst/" target="_blank" rel="noopener">DST CDT</a>)</li>
<li>MMath- Mathematics, 1<sup>st</sup> (hons)</li>
</ul>

Here below you can find small articles I will write about my work. 

{% include base_path %}

{% for post in site.academic reversed %}
  {% include archive-single.html %}
{% endfor %}
